---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'Podkova';
    src: url('Podkova-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Podkova';
    src: url('Podkova-Bold.ttf') format('truetype');
    font-weight: bold;
}


.post-title,
.post-content h1 {
  @include relative-font-size(2.225);
  letter-spacing: -1px;
  line-height: 1;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.35);
    font-weight: bold;

    @media screen and (min-width: $on-large) {
    font-weight: normal;
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.175);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(0.925);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.25);
    }
  }
}

.post-link{
    font-weight: bold;
    font-family: Podkova;
    font-size: 24px;
    
    @media screen and (max-width: $on-large) {
        line-height: 32px;
        font-size: 30px;
    }
    @media screen and (min-width: $on-large) {
      font-size: 30px;
      
    }
    color: black;
}

.post-link:visited{
    color: black;
}

.post-title, .post-content h1{
    font-weight: bold;
    font-family: Podkova
}

.post-content h2{
  font-family: Podkova;
  font-weight: bold
}

.highlighter-rouge, .highlight, code {
    background: #f2f2f2 !important;
}
pre, code {
    border: 1px solid #b9b9b9;
}

.post-content > p > img,
.post-list > li > p > img {
  display: block;
  margin: 0 auto;
  max-height: 80%;
  max-width: 100%;
}